
<h1> This is your Cart <i class="fa fa-shopping-cart fa-lg"></i></h1>

<div class="well item-display">
  <a href="#" class="thumbnail">
    <img src="<%= cart.image %>" />
  </a>
	<h2><%= cart.name %>
	<small>$<%= cart.price %>.00</small>
	</h2>
</div>

<form action="/payments/completed" method="POST" style="margin-left: 2%;">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_0B4uabmzHVzumNf1oxqs7y13"
    data-amount=<%= (cart.price)*100 %>
    data-name=<%= cart.name %>
    data-description="Vegetables"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>

</body>