<h1 style="text-align: center;">This Week's Fresh Sheet</h1>

<% product.forEach(function(product) { %>
	
<div class="well">
	<a href="#" class="thumbnail">
		<img src="<%= product.image %>" />
	</a>
	<h2 id="product-name"><%= product.name %>
	<br /><small>$<%= product.price %>.00</small>
	</h2>

	<form action="/payments" method="POST" role="form">
			<input type="hidden" name="name" value="<%= product.name %>">
			<input type="hidden" name="price" value="<%= product.price %>">
			<input type="hidden" name="image" value="<%= product.image %>">
	
		<button type="submit" class="btn btn-primary pull-left">Add to Cart</button>
	</form>
	<br />
	<br />
	<br />
	<form action="/products/<%= product.id %>/tags" method="POST" role="form">
	  <div class="form-group">
	    <label for="tag">Tag your produce</label>
	    <input type="text" class="form-control" id="tag" placeholder="ex. vegetarian" name="tag">
	  </div>

	  <button type="submit" class="btn btn-primary">Add Tag</button>
	</form>
</div>

<% }); %>