<h1>Featured Products</h1>
<% product.forEach(function(product) { %>
	
<div class="well">
	<h2><%= product.name %>
	<small><%= product.price %></small>
	</h2>

	<form action="/payments" method="POST" role="form">
			<input type="hidden" name="name" value="<%= product.name %>">
			<input type="hidden" name="price" value="<%= product.price %>">
	
		<button type="submit" class="btn btn-primary pull-right">Add to Cart</button>
	</form>

	<form action="/products/<%= product.id %>/tags" method="POST" role="form">
	  <legend>Add a new Tag</legend>

	  <div class="form-group">
	    <label for="tag">Name</label>
	    <input type="text" class="form-control" id="tag" placeholder="Input field" name="tag">
	  </div>

	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>

<% }); %>