<h1 style="text-align: center;">This Week's Fresh Sheet</h1>

<% product.forEach(function(product) { %>
	
<div class="well col-md-12 item-display">
	<a href="#" class="thumbnail">
		<img src="<%= product.image %>" />
	</a>
	<h2 id="product-name"><%= product.name %>
	<br /><small>$<%= product.price %>.00</small>
	</h2>
	<span>
		<form action="/payments" method="POST" role="form">
				<input type="hidden" name="name" value="<%= product.name %>">
				<input type="hidden" name="price" value="<%= product.price %>">
				<input type="hidden" name="image" value="<%= product.image %>">
		
			<button type="submit" class="btn btn-primary pull-left"><i class="fa fa-cart-plus fa-lg"></i></button>
		</form>
	</span>
	<span>
		<form action="/feast" method="POST" role="form">
				<input type="hidden" name="name" value="<%= product.name %>">
				<input type="hidden" name="price" value="<%= product.price %>">
				<input type="hidden" name="image" value="<%= product.image %>">
		
			<button type="submit" class="btn btn-default pull-right"><i class="fa fa-heart-o fa-lg"></i></button>
		</form>
	</span>
	<br />
	<br />
	<br />
	<form action="/products/<%= product.id %>/tags" method="POST" role="form">
	  <div class="form-group" >
	    <label for="tag">Tag your produce</label>
	    <input type="text" class="form-control" style="width: 100%;" id="tag" placeholder="ex. sweet" name="tag">
	  </div>

	  <button type="submit" class="btn btn-default"><i class="fa fa-plus fa-lg"></i></button>
	</form>
</div>

<% }); %>